@charset "UTF-8";
body {
  font-family: "Karla", sans-serif;
  line-height: 1.7rem;
  font-size: 1.2rem;
  margin: 0 auto;
  background-image: url("../assets/background-images/dark-wood-background.jpg");
  background-size: contain;
  /* <------ */
  background-repeat: repeat;
  background-position: center center;
  color: white;
}

.wrapper {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

hr {
  color: white;
  opacity: 0.8;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.7;
  max-width: 1700px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
a {
  font-family: "Rubik";
  font-style: normal;
  font-size: 2rem;
  font-weight: normal;
  margin: 0;
}

h4 {
  font-size: 1.5rem;
}

h1,
h2,
h3 {
  text-align: center;
}

.center {
  text-align: center;
}

.padding-top {
  padding-top: 50px;
}

.padding-bottom {
  padding-bottom: 50px;
}

.padding {
  padding: 50px;
}

.zero-margin {
  margin: 0;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  opacity: 1;
}

.navbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: black;
  height: 160px;
}

.navbar-container .menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-container .menu-items a {
  color: white;
}

.navbar-container .menu-items .contact-button {
  background: white;
  padding: 0.5rem 1rem;
  border-radius: 5%;
  color: black;
}

.navbar-container .menu-items .contact-button:hover {
  color: red;
}

.navbar-container a {
  font-weight: 500;
  font-size: 1.25rem;
  text-decoration: none;
  color: black;
}

.navbar-container a:hover {
  color: red;
}

.menu-items a {
  margin-left: 50px;
}

.mobile-navbar-container {
  height: 300px;
}

.toggle-button {
  position: absolute;
  top: 2rem;
  right: 10%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 1000px) {
  .toggle-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu-items {
    display: none !important;
    width: 100%;
  }
  nav div:first-of-type {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  nav .menu-items {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 25px;
  }
  nav .menu-items a {
    text-align: center;
    padding: 0.5rem 1rem;
  }
  .menu-items.active {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

header .header-image-container {
  width: 70%;
  margin: 0 auto;
  opacity: 0.9;
}

header .header-image-container img {
  margin-bottom: -120px;
}

/* Glyph, by Harry Roberts */
.style-eight {
  overflow: visible;
  /* For IE */
  padding: 0;
  border: none;
  border-top: medium double white;
  color: #333;
  text-align: center;
}

.style-eight:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  color: red;
}

.services p {
  text-align: center;
  margin-bottom: 0;
  font-weight: bold;
}

.services div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 3rem;
}

.services div img {
  width: 120px;
  height: 149px;
}

.services div p {
  text-align: left;
  padding-left: 2rem;
  width: 80%;
  font-weight: normal;
}

.services div:last-of-type {
  padding-bottom: 0;
}

.del-services p {
  text-align: center;
  margin-bottom: 0;
  font-weight: bold;
}

.del-services div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1rem;
}

.del-services div img {
  width: 120px;
  height: 149px;
}

.del-services div p {
  text-align: left;
  padding-left: 2rem;
  font-weight: normal;
  width: 80%;
}

#about h2 {
  margin-top: 50px;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px;
}

.about div:first-of-type {
  width: 40%;
  text-align: center;
}

.about div:last-of-type {
  max-width: 50%;
}

.about div:last-of-type p:first-of-type {
  margin-top: 0;
  padding-top: 0;
}

.frank-text h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.7;
}

.credentials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.8);
  padding: 1rem 5rem;
}

.credentials div {
  width: 23%;
}

.credentials img {
  width: 100;
  border: none;
}

.contact {
  padding-bottom: 0 !important;
}

.contact h2 {
  margin-bottom: 2rem;
}

.contact .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact .flex div:first-of-type {
  width: 40%;
}

.contact .flex div:last-of-type {
  width: 50%;
}

.contact .flex label {
  display: block;
}

form label {
  display: block;
}

form button {
  display: block;
  margin-top: 20px;
  background: red;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  color: white;
  font-family: "PT Serif";
}

form input {
  width: 500px;
}

form textarea {
  width: 500px;
  height: 120px;
}

form button:hover {
  color: black;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

footer h4 {
  font-weight: 600;
}

footer p {
  font-size: 1.2rem;
  font-weight: 300;
}

footer a {
  font-family: "Open Sans";
  font-size: 1.1rem;
  color: white;
}

footer img {
  width: 60px;
}

.copyright {
  text-align: center;
  padding: 2rem 0;
  background: rgba(46, 49, 49, 0.3);
}

.copyright p {
  color: black;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 20%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

@media only screen and (max-width: 1250px) {
  footer .iframe-google {
    max-width: 80% !important;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1115px) {
  .contact h2 {
    margin-bottom: 0.5rem;
  }
  .contact .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact .flex div:first-of-type {
    width: 70%;
    text-align: left;
  }
  .contact .flex div:last-of-type {
    width: 70%;
    text-align: left;
    margin: 0 auto;
  }
  .contact .flex label {
    display: block;
    text-align: left;
  }
  form label {
    display: block;
  }
  form button {
    display: block;
    margin-top: 20px;
    background: red;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    color: white;
    font-family: "PT Serif";
  }
  form input {
    width: 500px;
  }
  form textarea {
    width: 500px;
    height: 120px;
  }
  form button:hover {
    color: black;
  }
}

@media only screen and (max-width: 1050px) {
  #about h2 {
    margin-bottom: 10px;
  }
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about div:first-of-type {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
  }
  .about div:last-of-type {
    width: 100%;
    min-width: 700px;
    margin: 0 auto;
  }
  .about div:last-of-type p:first-of-type {
    padding-top: 20px;
  }
  .about h4 {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.7;
  }
  .credentials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .credentials div {
    width: 35%;
  }
  .credentials img {
    width: 100;
  }
}

@media only screen and (max-width: 1000px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer div {
    width: 50%;
  }
  .logo-container {
    display: none;
  }
  .stay-conntected {
    margin-left: auto;
  }
  .billing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .billing .billing-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .billing .billing-text-container {
    width: 90%;
    margin: 0 auto;
  }
  .billing h2 {
    font-size: 1.5rem;
    text-align: left;
  }
  .billing div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 850px) {
  header .header-image-text {
    position: absolute;
    top: 25%;
    left: 10%;
    z-index: 10;
    line-height: 4rem;
  }
  header .header-image-text h2 {
    font-size: 3rem;
  }
  header .header-image-text p {
    font-size: 2rem;
  }
  header .header-image-container {
    height: 500px;
    width: 100%;
  }
  header .header-image-container img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 500px;
  }
}

@media only screen and (max-width: 814px) {
  .services p {
    text-align: center;
    margin-bottom: 0;
    font-weight: bold;
  }
  .services div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .services div img {
    margin: 0 auto;
  }
  .services div p {
    text-align: left;
    width: 90%;
    padding-left: 0;
    margin: 0 auto;
  }
  .about div:first-of-type {
    width: 80%;
    min-width: 309px;
  }
  .about div:last-of-type {
    width: 100%;
    min-width: 500px;
    margin: 0 auto;
  }
  .about div:last-of-type p:first-of-type {
    padding-top: 20px;
  }
  .about h4 {
    font-size: 1.2rem;
    line-height: 1.7;
    width: 100%;
  }
}

@media only screen and (max-width: 750px) {
  .del-services p {
    text-align: center;
    margin-bottom: 0;
    font-weight: bold;
  }
  .del-services div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 1rem;
  }
  .del-services div img {
    width: 110px;
    height: 149px;
  }
  .del-services div p {
    text-align: left;
    padding-left: 2rem;
    font-weight: normal;
    width: 90%;
  }
  .credentials div {
    width: 50%;
  }
  form label {
    display: block;
  }
  form button {
    display: block;
    margin-top: 20px;
    background: red;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    color: white;
    font-family: "PT Serif";
  }
  form input {
    width: 100%;
  }
  form textarea {
    width: 100%;
    height: 120px;
  }
  form button:hover {
    color: black;
  }
}

@media only screen and (max-width: 700px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }
  footer div {
    width: 80%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 650px) {
  .about div:last-of-type {
    width: 100%;
    min-width: 400px;
    margin: 0 auto;
  }
  .about div:last-of-type p:first-of-type {
    padding-top: 20px;
  }
}

@media only screen and (max-width: 550px) {
  .about div:last-of-type {
    width: 100%;
    min-width: 300px;
    margin: 0 auto;
  }
  .about div:last-of-type p:first-of-type {
    padding-top: 20px;
  }
}

@media only screen and (max-width: 500px) {
  .credentials div {
    width: 90%;
  }
}

@media only screen and (max-width: 400px) {
  .about div:first-of-type {
    width: 100%;
    min-width: 250px;
  }
  .about div:last-of-type {
    max-width: 320px;
    margin: 0 auto;
  }
  .about div:last-of-type p:first-of-type {
    padding-top: 20px;
  }
}

/* rubik */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Rubik/Rubik-Regular.ttf");
}

/* karla */
@font-face {
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Karla/Karla-Regular.ttf");
}
/*# sourceMappingURL=style.css.map */