//----------------------------- Variables

$consistent-gap: 50px;

//----------------------------- General

body {
  font-family: "Karla", sans-serif;
  line-height: 1.7rem;
  font-size: 1.2rem;
  margin: 0 auto;
  background-image: url("../assets/background-images/dark-wood-background.jpg");
  background-size: contain; /* <------ */
  background-repeat: repeat;
  background-position: center center;
  color: white;
}

.wrapper {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

// .section-bg {
//   background-color: #f8f9f9;
// }

// .alternative-section-bg {
//   background-color: #e2e4e6;
// }

img {
  max-width: 100%;
}

hr {
  color: white;
  opacity: 0.8;
}

//----------------------------- Text

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.7;
  max-width: 1700px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
a {
  font-family: "Rubik";
  font-style: normal;
  font-size: 2rem;
  font-weight: normal;
  margin: 0;
}

h4 {
  font-size: 1.5rem;
}

h1,
h2,
h3 {
  text-align: center;
}

.center {
  text-align: center;
}

.padding-top {
  padding-top: $consistent-gap;
}

.padding-bottom {
  padding-bottom: $consistent-gap;
}

.padding {
  padding: $consistent-gap;
}

.zero-margin {
  margin: 0;
}

//----------------------------- Nav

nav {
  position: sticky;
  top: 0;
  z-index: 100;
  opacity: 1;
}

.navbar-container {
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 1);
  height: 160px;
  .menu-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      color: white;
    }
    .contact-button {
      background: white;
      padding: 0.5rem 1rem;
      border-radius: 5%;
      color: black;
    }
    .contact-button:hover {
      color: red;
    }
  }
  a {
    font-weight: 500;
    font-size: 1.25rem;
    text-decoration: none;
    color: black;
  }
  a:hover {
    color: red;
  }
}

.menu-items a {
  margin-left: 50px;
}

.mobile-navbar-container {
  height: 300px;
}

//----------------------------- Responsive Navbar

.toggle-button {
  position: absolute;
  top: 2rem;
  right: 10%;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
  }
}

@media (max-width: 1000px) {
  .toggle-button {
    display: flex;
  }

  .menu-items {
    display: none !important;
    width: 100%;
  }

  nav div:first-of-type {
    flex-direction: column;
    align-items: flex-start;
  }

  nav .menu-items {
    width: 100%;
    flex-direction: column;
    margin-bottom: $consistent-gap / 2;
    a {
      text-align: center;
      padding: 0.5rem 1rem;
    }
  }

  .menu-items.active {
    display: flex !important;
    // margin-top: -150px;
  }
}

//----------------------------- Header

header {
  .header-image-container {
    width: 70%;
    margin: 0 auto;
    opacity: 0.9;
    img {
      margin-bottom: -120px;
    }
  }
}

//----------------------------- Divider/Gradient

/* Glyph, by Harry Roberts */

.style-eight {
  overflow: visible; /* For IE */
  padding: 0;
  border: none;
  border-top: medium double white;
  color: #333;
  text-align: center;
}

.style-eight:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  color: red;
}

//----------------------------- Services

.services {
  p {
    text-align: center;
    margin-bottom: 0;
    font-weight: bold;
  }
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
    img {
      width: 120px;
      height: 149px;
    }
    p {
      text-align: left;
      padding-left: 2rem;
      width: 80%;
      font-weight: normal;
    }
  }
  div:last-of-type {
    padding-bottom: 0;
  }
}

//----------------------------- Delivery of Services

.del-services {
  p {
    text-align: center;
    margin-bottom: 0;
    font-weight: bold;
  }
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
    img {
      width: 120px;
      height: 149px;
    }
    p {
      text-align: left;
      padding-left: 2rem;
      font-weight: normal;
      width: 80%;
    }
  }
}

//----------------------------- About

#about {
  h2 {
    margin-top: $consistent-gap;
  }
}

.about {
  display: flex;
  justify-content: space-between;
  padding: $consistent-gap;
  div:first-of-type {
    width: 40%;
    text-align: center;
  }
  div:last-of-type {
    max-width: 50%;
    p:first-of-type {
      margin-top: 0;
      padding-top: 0;
    }
  }
}

.frank-text {
  h4 {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.7;
  }
}

//----------------------------- Credentials

.credentials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  padding: 1rem 5rem;
  div {
    width: 23%;
  }
  img {
    width: 100;
    border: none;
  }
}

//----------------------------- Contact

.contact {
  padding-bottom: 0 !important;

  h2 {
    margin-bottom: 2rem;
  }
  .flex {
    display: flex;
    justify-content: space-between;

    div:first-of-type {
      width: 40%;
    }
    div:last-of-type {
      width: 50%;
    }

    label {
      display: block;
    }
  }
}

form {
  label {
    display: block;
  }
  button {
    display: block;
    margin-top: 20px;
    background: red;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    color: white;
    font-family: "PT Serif";
  }
  input {
    width: 500px;
  }
  textarea {
    width: 500px;
    height: 120px;
  }
  button:hover {
    color: black;
  }
}

//----------------------------- Footer

footer {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  h4 {
    font-weight: 600;
  }
  p {
    font-size: 1.2rem;
    font-weight: 300;
  }
  a {
    font-family: "Open Sans";
    font-size: 1.1rem;
    color: white;
  }
  img {
    width: 60px;
  }
}

.copyright {
  text-align: center;
  padding: 2rem 0;
  background: rgba(46, 49, 49, 0.3);
  p {
    color: black;
  }
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 20%;
  position: relative;
  height: 0;
}
.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

//----------------------------- Media queries

@media only screen and (max-width: 1250px) {
  footer {
    .iframe-google {
      max-width: 80% !important;
      margin: 0 auto;
    }
  }
}

@media only screen and (max-width: 1115px) {
  //----------------------------- Contact

  .contact {
    h2 {
      margin-bottom: 0.5rem;
    }
    .flex {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      div:first-of-type {
        width: 70%;
        text-align: left;
      }
      div:last-of-type {
        width: 70%;
        text-align: left;
        margin: 0 auto;
      }

      label {
        display: block;
        text-align: left;
      }
    }
  }

  form {
    label {
      display: block;
    }
    button {
      display: block;
      margin-top: 20px;
      background: red;
      padding: 0.5rem 1rem;
      border-radius: 8px;
      color: white;
      font-family: "PT Serif";
    }
    input {
      width: 500px;
    }
    textarea {
      width: 500px;
      height: 120px;
    }
    button:hover {
      color: black;
    }
  }
}

@media only screen and (max-width: 1050px) {
  //----------------------------- About

  #about {
    h2 {
      margin-bottom: 10px;
    }
  }

  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div:first-of-type {
      width: 50%;
      margin: 0 auto;
      text-align: center;
      padding-top: 20px;
    }
    div:last-of-type {
      width: 100%;
      min-width: 700px;
      margin: 0 auto;
      p:first-of-type {
        padding-top: 20px;
      }
    }
    h4 {
      font-family: "Open Sans", sans-serif;
      font-size: 1.5rem;
      font-weight: 300;
      line-height: 1.7;
    }
  }

  //----------------------------- Credentials

  .credentials {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    div {
      width: 35%;
    }
    img {
      width: 100;
    }
  }
}

.logo-container-two {
  display: none;
}

@media only screen and (max-width: 1000px) {
  //----------------------------- Footer

  footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    div {
      width: 50%;
    }
  }

  .logo-container {
    display: none;
  }

  .logo-container-two {
    display: block;
  }

  .stay-conntected {
    margin-left: auto;
  }

  //----------------------------- Billing

  .billing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .billing-container {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .billing-text-container {
      width: 90%;
      margin: 0 auto;
    }
    h2 {
      font-size: 1.5rem;
      text-align: left;
    }
    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

@media only screen and (max-width: 850px) {
  //----------------------------- Header

  header {
    .header-image-text {
      position: absolute;
      top: 25%;
      left: 10%;
      z-index: 10;
      line-height: 4rem;
      h2 {
        font-size: 3rem;
      }
      p {
        font-size: 2rem;
      }
    }
    .header-image-container {
      height: 500px;
      width: 100%;
      img {
        object-fit: cover;
        height: 500px;
      }
    }
  }
}

@media only screen and (max-width: 814px) {
  //----------------------------- Services

  .services {
    p {
      text-align: center;
      margin-bottom: 0;
      font-weight: bold;
    }
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      img {
        margin: 0 auto;
      }
      p {
        text-align: left;
        width: 90%;
        padding-left: 0;
        margin: 0 auto;
      }
    }
  }

  //----------------------------- About

  .about {
    div:first-of-type {
      width: 80%;
      min-width: 309px;
    }
    div:last-of-type {
      width: 100%;
      min-width: 500px;
      margin: 0 auto;
      p:first-of-type {
        padding-top: 20px;
      }
    }

    h4 {
      font-size: 1.2rem;
      line-height: 1.7;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 750px) {
  //----------------------------- Delivery of Services

  .del-services {
    p {
      text-align: center;
      margin-bottom: 0;
      font-weight: bold;
    }
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: 1rem;
      img {
        width: 110px;
        height: 149px;
      }
      p {
        text-align: left;
        padding-left: 2rem;
        font-weight: normal;
        width: 90%;
      }
    }
  }

  //----------------------------- Credentials

  .credentials {
    div {
      width: 50%;
    }
  }

  //----------------------------- Form

  form {
    label {
      display: block;
    }
    button {
      display: block;
      margin-top: 20px;
      background: red;
      padding: 0.5rem 1rem;
      border-radius: 8px;
      color: white;
      font-family: "PT Serif";
    }
    input {
      width: 100%;
    }
    textarea {
      width: 100%;
      height: 120px;
    }
    button:hover {
      color: black;
    }
  }
}

@media only screen and (max-width: 700px) {
  //----------------------------- Footer

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    div {
      width: 80%;
      margin: 0 auto;
    }
  }
}

@media only screen and (max-width: 650px) {
  //----------------------------- About

  .about {
    div:last-of-type {
      width: 100%;
      min-width: 400px;
      margin: 0 auto;
      p:first-of-type {
        padding-top: 20px;
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  //----------------------------- About

  .about {
    div:last-of-type {
      width: 100%;
      min-width: 300px;
      margin: 0 auto;
      p:first-of-type {
        padding-top: 20px;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  //----------------------------- Credentials

  .credentials {
    div {
      width: 90%;
    }
  }
}

@media only screen and (max-width: 400px) {
  //----------------------------- About

  .about {
    div:first-of-type {
      width: 100%;
      min-width: 250px;
    }
    div:last-of-type {
      max-width: 320px;
      margin: 0 auto;
      p:first-of-type {
        padding-top: 20px;
      }
    }
  }
}

//----------------------------- Typography

/* rubik */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Rubik/Rubik-Regular.ttf");
}

/* karla */
@font-face {
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Karla/Karla-Regular.ttf");
}
